.container {
    width: 400px;
    background: #dedede url("../images/fundo-arredondamento.png") repeat-y;
}

.container h2 {
    padding: 10px 20px 0 20px;
    background: url("../images/topo2.png") no-repeat left top;
}

.container p {
    padding: 0 20px;
    margin-bottom: 0;
}

.container .last {
    background: url("../images/baixo2.png") no-repeat left bottom;
    width: 400px;
    height: 24px;
}