/*Universal Selector*/
/*Selects all elements of the page*/
* {
    border: 1px solid red;
}

/*Text selector*/
/*Selects all "h" elements*/
h1 {
    color: #2ECC71;
 }

/*Class Selector*/
.green {
    color: darkgreen;
}

/*Select specific element inside a class, in this case, element "p"*/
p.green {
    color: darkgreen;
}

/*ID selector*/
#header {
    border: 2px solid cornflowerblue;
}

/*Child Selector*/
/*In this case, selects "a" elements inside "li" element*/
li>a {
    text-decoration: none;
    color: red;
}

/*Selects ANY "a" element inside divs tags*/
div a {
    text-decoration: none;
    color: coral;
}

/*Selects adjacent element brother*/
/*In this case immediately below "h1" element, there is a "p" element*/
h1+p {
    color: darkcyan;
}

/*Selects any"p" element below "h1" element*/

h1~p {
    background: cornflowerblue;
}