/*Layout*/

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #f2f2f2;
}

#container {
    width: 720px;
    margin: 0 auto;
    background: #FFFFFF;
}

#company-name {
    text-align: center;
    height: 100px;
    background: #a8a8a8;
    line-height: 100px;
}

#content {
    width: 520px;
    float: right;
}

#main-content {
    width: 300px;
    float: left;
}

#side-content {
    background: #d3d3d3;
    width: 150px;
    height: 250px;
    padding: 20px;
    float: right;
}

#nav-bar {
    background: #d3d3d3;
    width: 180px;
    padding: 20px 0 20px 0;
    float: left;

}

#nav-bar li {
    list-style-type: none;
}

#nav-bar a {
    text-decoration: none;
}

#footer {
    background: #c6c6c6;
    padding: 10px;
    clear: both;
}


