.main-div {
    border: 2px solid darkslateblue;
    width: 680px;
    padding: 20px 70px;
    background: #c3c3ae;
    margin: 20px 300px;
}

.title {
    color: #fff;
    background: palevioletred ;
    width: 660px;
    text-align: center;
}

p {
    width: 600px;
    border: 2px solid #474ed3;
    padding: 20px;
    margin: 10px;
}

h4 {
    background: #f9d266;
    width: 620px;
    padding: 20px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #4186bf;
}