body {
    background: #f4f4f4;
}

#main-div {
    width: 920px;
    border: 2px solid gray;
    background: #84f4ab;
}

.news {
    background: #e5e5e5;
    padding: 5px;
    width: 280px;
    margin: 7px;
    float: left;
}

.news a {
    text-decoration: none;
    color: #ce6d12;
}

.images-gallery {
    width: 265px;
    padding: 5px;
    float: left;
    margin: 12px;
}

.clear{
    clear: both;
}